
th {
    vertical-align: middle;
}

.foto {
    border: 1px solid #d4d4d4;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
    width: 160px;
    height: 190px;     /* Avatar */
    /* 	height: 170px; 		 Social  */
}

td.fila {
    padding: 5px !important;
}

.ficha {
    width: 80%;
    height: 120px;
}